.div-with-map {
  display: flex;
  justify-content: center;
  padding: 30px;
}
// .home-page-info {
//   width: 50%;
// }
// .map-container {
//   height: '300px';
//   width: '45%';
// }

// @media (max-width: 500px) {
//   .div-with-map {
//     display: flex;
//     flex-direction: column-reverse;
//     padding: 30px;
//     justify-content: center;
//   }
  // .home-page-info {
  //   width: 90%;
  //   padding-bottom: 30px;
  // }
  // .map-container {
  //   width: '90%';
  // }
// }
