.home {
  margin-top: -40px;
  .div-with-map {
    display: flex;
    justify-content: center;
    padding: 40px;
    width: 100%;
  }

  .home-content {
    display: flex;
    flex-direction: column;
  }

  .div-with-text {
    width: 100%;
    padding: 40px;
    span {
      font-weight: 600;
      padding-right: 12px;
    }
    p {
      font-weight: 300;
      font-size: 1.05em;
      line-height: 1.4;
    }
  }

  .yellow-bar-home {
    height: 6px;
    background-color: @yellow;
    margin: 4px 0;
  }
  .text {
    display: flex;
    padding: 12px 0;
  }

}


@media (min-width: 1100px) {
  .home {
    .home-content {
      flex-direction: row;
    }
    .div-with-map {
      width: 40%;
    }
    .div-with-text {
      width: 60%;
    }
  }
}


@media (min-width: 1500px) {
  .home {
    margin-top: 0;
  }
}

@media (min-width: 1580px) {
  .home {
    .div-with-map {
      padding-right: 0;
    }
    .div-with-text {
      padding-left: 0;
    }
  }
}
