.plan-container {
  width: 100%;
  img { width: 100%; }
}

.floor-plan-container, .bridge-container, .site-plan-container, .elevation-container {
  margin: 30px 0 30px 0;
  img { width: 100%; }
}

.floor-plan-container {
  width: 100%;
}

.bridge-container {
  width: 80%;
  // margin-bottom: 60px;
}

.main-wing { margin-bottom: 0; }
.bedrooms { margin-bottom: 60px; }
.walls { margin-bottom: 40px; }

.site-plan-container {
  width: 82%;
}

.elevation-container {
  width: 100%;
}

@media (max-width: 1250px) {
  .elevation-container {
    width: 90%;
  }
}
