@import "reset.less";
@import "home.less";
@import "typography.less";

body {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.app {
  width: 100%;
  max-width: 1500px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding: 0 30px;
  ul {
    display: flex;
    li { padding: 0 10px;}
  }
}

.page {
  width: 70%;
  padding: 0 15%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2, h3 {
    padding: 80px 0 40px 0;
    text-align: center;
    font-size: 600;
  }
}

.plan-container {
  width: 100%;
  img {
    width: 100%;
  }
}
