body {
  font-family: 'Muli', 'Arial', sans-serif;
}

h1 {
  text-align: left;
  font-size: 2em;
}

li:hover {
  color: grey;
}

.subtitle {
  padding: 30px 0 30px 0;
  // marginLeft: '40px',
  align-self: flex-start;
  h2 {
    font-size: 1.3em;
    padding-bottom: 8px;
    text-align: left;
  }
  div {
    height: 8px;
    width: 300px;
    background-color: @yellow;
  }
}

.info-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: flex-start;
  margin-bottom: 40px;
}
.view-info {
  padding-top: 20px;
  padding-right: 30px;
  line-height: 20px;
}

@media (max-width: 1240px) {
  .subtitle, .view-info {
    padding-left: 30px;
  }
}
